<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :video, id: :video_video, placeholder: "Video" %>
  </div>

  <div class="field">
    <%= form.text_field :title, id: :video_title, placeholder: "Title" %>
  </div>

  <div class="field">
    <%= form.text_field :star, id: :video_star, placeholder: "Star" %>
  </div>

  <div class="field">
    <%= form.text_area :description, id: :video_description, placeholder: "Description", length: "800", class: "materialize-textarea" %>
  </div>

  <button class="btn" type="submit">Submit</button>
  <%= link_to "ビデオ一覧に戻る", videos_path, class: 'btn' %>
<% end %>
