<p id="notice"><%= notice %></p>

<div class="row">
  <h3 class='left'>乃木坂の動画を共有する</h3>
    <%= link_to new_video_path, class: 'btn-floating btn-large waves-effect waves-light purple', style: 'margin: 1.94rem 0 1.168rem 15px' do %>
      <i class="material-icons">add</i>
    <% end %>
</div>

<div class="row">
  <% @videos.each do |video| %>
    <div class="col m6">
      <div class="card">
        <div class="card-image">
          <%= image_tag "#{video.image}", size: '150×150' %>
        </div>
        <div class="card-content">
          <p><%= video.description %></p>
        </div>
        <div class="card-action">
          <div class="uzai-group">
            <%= render partial: 'muscle/modal_form', locals: {video: video}, class: 'btn' %>
          </div>
            <%= link_to "編集", edit_video_path(video), class: "btn" %>
            <%= link_to "削除", video, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
        </div>
      </div>
      <script>
        $(document).ready(function(){
          $("#<%= video.id %>").modal();
        });
      </script>
    </div>
  <% end %>
</div>

