<p id="notice"><%= notice %></p>

<h1>Videos</h1>

<%= link_to new_video_path, class: 'btn-floating btn-large waves-effect waves-light red' do %>
  <i class="material-icons">add</i>
<% end %>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.title, video %></td>

        <td>
          <%= link_to edit_video_path(video) do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to video, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="material-icons">delete</i>
          <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

